.container {
  padding: 8px;

  > ul {
    padding-left: 0;
    
    .mdl-shadow--2dp {
      box-shadow: 0 1px 2px #b0b9bf;
    }
    
  }
}

.item {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  font-size: 16px;
  letter-spacing: .04em;
  padding: 16px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}

.item-primary {
  display: block;
  flex-grow: 2;
}

.item-subtitle {
  color: #7A8E92;
  font-weight: 300;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.item-secondary {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
