.dates-container {
  list-style: none;
  margin-top: 0;
  padding: 8px;
}

.title {
  margin-bottom: 16px;
  margin-top: 16px;
  color: #29638F;
}

.date-item {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  letter-spacing: .04em;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
}

.border {
  border: 0;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-color: #DEE7EB;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.incidents-container {
  padding: 8px;

  > ul {
    background-color: #FFFFFF;
    list-style: none;
    padding-left: 0;
  }
}

.no-incidents {
  color: #7A8E92;
  font-size: 14px;
}
