.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.rss-icon {
  border-radius: 20%;
  color: #96ACBF;

  height: 24px;
  line-height: 24px;
  margin-top: 30px;
}

.mail-icon {
  border-radius: 20%;
  color: #96ACBF;
  cursor: pointer;

  height: 24px;
  line-height: 24px;
  margin-top: 30px;
}

.dropdown {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  font-size: 14px;
  margin-right: 2px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 56px;
  width: 300px;
  z-index: 5;
}

.subscribe-container {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.input {
  border: 1px solid #DEE7EB;
  border-right: 0;
  height: 24px;
  padding-left: 4px;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.button {
  align-items: center;
  background-color: #58E2A2;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 200;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 0 4px 4px 0;
}

.button-disabled {
  background-color: #BDBDBD;
}

.message-successful {
  color: #58E2A2;
  font-weight: 400;
}

.message-failure {
  color: #FF4E69;
  font-weight: 400;
}
